/* Main styling rules */

body {
    display: flex; 
    height: 100vh; 
    flex-direction: column; 
}

a {
   color: white;
}

header ul {
    display: flex; 
    width: 100%; 
    justify-content: space-between;
}

ul {
    list-style: none; 
}

a {
    text-decoration: none; 
}


/* Header & Footer */

header, footer {
    background-color: #1F2937;
}

footer {
    margin-top: auto; 
}


/* Buttons */

button {
    background-color: #3882f6;
    color: white; 
    border: 2px solid #3882f6; 
    border-radius: 5px; 
    width: 80px; 
    height: 32px; 
}
/* Sections General styling */

.content {
    justify-content: center;
    
}


div.main-section {
    display: flex; 
    flex-wrap: wrap; 
    width: 30%; 
    margin: 0 auto;  
}

img#Thor {
    height: 300px; 
    width: auto; 
    margin-right: 300px; 
}

#main-logo a {
    color: #f9faf8; 
    font-size: 24px; 
}







/* Section One */

section.container {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    background-color: #1F2937;
    color: #e5e7eb;  
    font-size: 18px; 
}

.left {
    margin-left: 530px; 
    width: 50%; 
}

.right {
    width: 55%; 
}


#main-content span
 {
    font-size: 48px;  
}

/* Section Two */
.container-two p {
    display: flex; 
    margin-top: 100px; 
    justify-content: center;
    gap: 50px; 
}

div.revengers {
    display: flex; 
    margin-top: 100px; 
    justify-content: center;
    align-content: center;
    gap: 50px; 
}
div.block {
    width: 22%; 
    justify-content: space-around;
}

div.block p {
    width: 200px; 
}

img {
    height: 200px; 
    width: 200px; 
}

/* Section Three */

/* Section Four */
















