/* Main styling rules */
* {
    margin: 0; 
}

body {
    display: flex; 
    height: 100vh; 
    flex-direction: column; 
}

a {
   color: white;
}

ul {
    list-style: none; 
}

a {
    text-decoration: none; 
}


/* Header & Footer */

.parent {
    display: flex; 
    justify-content: space-between;
}

#main-text a {
    color: #f9faf8; 
    font-size: 24px;
    margin: 0 auto; 
    
}



header, footer {
    background-color: #1F2937;
    clear: both; 
}

footer {
    margin-top: auto; 
}


/* Buttons */

button {
    background-color: #3882f6;
    color: white; 
    border: 2px solid #3882f6; 
    border-radius: 5px; 
    width: 80px; 
    height: 32px; 
}
/* Sections General styling */

.content {
    justify-content: center;
    
}









/* Section One */


div.main-section {
    display: flex; 
    flex-wrap: wrap; 
    width: 30%; 
    margin: 0 auto;  
}

img#Thor {
    height: 300px; 
    width: auto; 
    margin-right: 300px; 
}


#supporting-link a {
    font-size: 18px; 
    color: #e5e7eb; 
}

.left span {
    font-size: 36px; 
    font-weight: bolder; 
}

section.container {
    display: flex; 
    align-items: center; 
    justify-content: space-round; 
    background-color: #1F2937;
    color: #e5e7eb;  
    font-size: 18px; 
}

.left {
    margin-left: 530px; 
    width: 50%; 
}

.right {
    width: 55%; 
}


#main-content span
 {
    font-size: 48px;  
}

/* Section Two */
.container-two p {
    display: flex; 
    margin-top: 100px; 
    justify-content: space-evenly;
    gap: 50px; 
}

div.revengers {
    margin: 20px 200px 0 200px; 
    display: flex; 
    flex-direction: row; 
    justify-content: flex-end;
}
div.block {
    width: 22%; 
    justify-content: space-around;
}

div.block p {
    width: 200px; 
}

img {
    height: 170px; 
    width: 170px; 
    border: 2px solid black; 
    border-radius: 2px; 
    gap: 2px; 
}

/* Section Three */

section.container-three {
}

section.container-three {
    display: inline-block; 
    width: 100%; 
    text-align: center; 
   background-color: #e5e7eb; 
   height: 800px; 

}
.container-three q {
    font-size: 36px;
    font-weight: lighter;
    color: #1f2937; 
}

/* Section Four */

.call-to-action {
    background-color: #3882f6;
    color: white; 
    height: 200px; 
    width: 45%; 
    display: flex; 

}

button#call-button {
    border: 3px solid white; 
}
















